.menu {
  width: 100%;
  background-color: $blue;
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    vertical-align: middle;
    color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    display: block;
    text-align: justify;
    font-size: 0;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
    li {
      display: inline;

      &:first-child:before {
        content: '';
        display: none;
      }
      &:before {
        content: '\00a0';
        display: inline;
        font-size: 12px;
      }
      a {
        background: #5e8c90;
        color: #FFFFFF;
        display: inline-block;
        font: bold 16px/20px sans-serif;
        padding: 14px 14px;
        text-align: center;
        text-decoration: none;
        transition: all .25s ease;
      }
      .router-link-active {
        background: #33995e;
        &:hover {
          background: #16a085;
        }
      }
    }
  }
}

@media only screen and (min-width: 1064px) {
  .menu {
    li {
      a {
        font: bold 16px/20px sans-serif;
        padding: 10px;
      }
    }
  }
}
